{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
  <li>
      <style>
        #importform{
            display: none;
        }
        #image_drop{
            background-image: url('../img/tooltag-add.svg');
            background-repeat: no-repeat;
            background-position: right 7px center;
            border-radius: 15px;
            display: block;
            float: left;
            padding: 3px 12px;
            background: #999;
            font-weight: 400;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #fff;
            line-height: 17px;
        }
      </style>
      <button id="image_drop" onclick="document.getElementById('parse_file').click()" title="Upload numbers">Upload numbers</button>
      <form enctype="multipart/form-data" action="/admin/file" method="post" id="importform">
        {% csrf_token %}
          <input type="hidden" name="db_export" value="phone_numbers">
          <input id="parse_file" name="db_file" type="file" value="load">
          <script>
              document.getElementById("parse_file").onchange = function() {
                  document.getElementById("importform").submit();
              }
          </script>
      </form>
  </li>
  {% endif %}
{% endblock %}